@import './variables.scss';
@import './utils.scss';

.addTodoDiv {
  .cmt {
    background-image: $color-gradient;
    width: 100%;
    height: 100px;
    @include txt(60px);
  }
  input {
    @include input(10px);
    width: 400px;
    border: 1px solid $color-txt;
    height: 25px;
  }
  button {
    @include button();
    @include square(50px);
  }
  p {
    @include txt(40px);
  }
}
